<!doctype html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Pong</title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>

<body>

  <canvas class="emscripten" id="canvas" tabindex=-1></canvas>

  <script type='text/javascript'>
    var Module = {
      canvas: (function () {
        var canvas = document.getElementById('canvas');

        // As a default initial behavior, pop up an alert when webgl context is lost. To make your
        // application robust, you may want to override this behavior before shipping!
        // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
        canvas.addEventListener("webglcontextlost", function (e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

        return canvas;
      })(),
    };
  </script>
  {{{ SCRIPT }}}
</body>

</html>